<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="icon" type="image/svg+xml" href="./assets/images/favicon.svg" />
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet" />
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <%- include('./header.ejs') %>
  <%- include('./blogMenu.ejs') %>
  <%- contents %>
  <%- include('./footer.ejs') %>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
